{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="border p-4 rounded shadow-md mt-5">
  <div class="bg-white p-8">
    <div class="mb-6">
      <h3 class="text-2xl font-semibold text-gray-800 mb-2">Product Information</h3>
      <p class="text-gray-600 text-base">
        The main features we offer are up to date market data, FREE with adjustable parameters. Get quotes and intraday pricing information for your favorite stocks. Favorite them, or make friends in our chatroom so you can invest together!
      </p>
    </div>

    <ul class="list-disc list-inside text-gray-700 space-y-2 mb-6">
      <li>Get accurate to the day stock information</li>
      <li>Favorite your preferred stocks</li>
      <li>Collaborate with friends in the chatroom</li>
    </ul>

  </div>
</div>

{% endblock %}